@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Exo:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.comic-neue-light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

body{
  background-color: black;
    margin: 0; 
    padding: 0; 
    font-family: Comic Neue, sans-serif; 
} 
 
.container { 
  display: flex; 
  flex-direction: column; /* Change to row for horizontal layout */ 
  justify-content: center; /* Center items vertically */ 
  align-items: center; /* Center items horizontally */ 
  height: 100vh; 
} 

nav a{
list-style-type: none;
color: white ;
font-family: Comic Neue;
font-weight: 500;
margin-top: 0px;
text-decoration: none;

}

nav li{

  float: right;
  padding: 10px;
  
}

nav a:hover{
color: rgb(152, 178, 255);

}


img{
  height: 20px;
  width: 150px;
  padding: 0%;
  margin-top: 0.3cm;

}

header{
  margin-top: 0px;
  padding-top: 0px;
  align-items: center;
  justify-content: flex-start;
}

nav{
  margin-top: 0px;
  padding-top: 0px;
}

h1{
  color: white;
}
#loop {
  position: fixed;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

h3{
  margin:0px;
  padding:0.0px;
}